<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADO.NET.Helper" version="1.0.3.0" targetFramework="net47" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net47" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net47" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.2" targetFramework="net47" />
  <package id="MySql.Data" version="6.10.8" targetFramework="net47" />
  <package id="MySql.Data.Entity" version="6.10.8" targetFramework="net47" />
  <package id="Slant.Entity" version="1.1.0" targetFramework="net47" />
  <package id="Slant.Linq" version="1.0.0" targetFramework="net47" />
</packages>